{% extends "layout.html" %}

{% block content %}


    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Demo Bank</h1>
            <h3>Leading Towards Success!</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti et officiis est harum at pariatur aliquam culpa reiciendis eligendi omnis. Repellat veritatis quas architecto voluptatem? Repellendus natus tenetur veritatis minima?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, explicabo. Voluptas consequuntur molestiae sed voluptatum eveniet vel quae maiores, repellat aperiam id, laudantium, corporis et eligendi animi distinctio numquam necessitatibus?</p>    
       <hr>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vel quam adipisci sit veniam, nemo eaque alias aut provident in beatae earum consequatur velit repellendus minus aperiam aliquid, pariatur suscipit!</p>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus consequuntur dicta veniam dolores omnis optio vel accusamus illum nostrum, ullam iure tempore obcaecati voluptate. Illum tempora placeat magnam incidunt consequatur.</p>   
    </div>
    </div>
{% endblock %}